.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

.drop-box.dragover-err {
  border: 5px dashed red;
}

.productbox {
  background-color:#ffffff;
  padding:10px;
  margin-bottom:10px;
  box-shadow: 6px 6px 6px 0px #1a1aff;
}

.producttitle {
  font-weight:bold;
  padding:5px 0 5px 0;
}

.productprice {
  border-top:1px solid #dadada;
  padding-top:5px;
}

.pricetext {
  font-weight:bold;
  font-size:1.4em;
}

@media (min-width: 992px) {
  .productdescription {
    height: 315px;
    overflow: scroll;
  }

  .thumbnail img{
    height: 240px;
  }
}

.show {
  height: 400px;
}
.ta-toolbar {
  width: 75%;
  margin-left: 200px;
  margin-top: 10px;
}

.ta-editor {
  width: 75%;
  margin-left: 200px;
   margin-top: 10px;
}

.message-overlay {
  position: absolute;
  right: 50px;
  bottom: 100px;
}
