<script src="https://aframe.io/releases/0.1.2/aframe.min.js"></script>

<div class = container>
<p ng-bind-html="sanitizedHtml"></p>
<div class="col-md-6 message-overlay" style="height: 400px; overflow-y: scroll;">
      <h3>{{ product.title }} Messages</h3>
      <form>
        <textarea class="form-control"
                  rows="3"
                  ng-model="newMessage"
                  tabindex="1"
                  onfocus="if (this.value=='type new message here') this.value = ''">
        </textarea>
        <br>
        <button type="submit" class="btn btn-primary" ng-click="vm.sendMessage()">Send</button>
      </form>
      <hr>
      <div class="animate-messages" ng-repeat="message in product.messages | orderBy: '-createdAt'">
        <dl>
          <dt><span class="text-primary"><strong>{{ message.user.name }}<strong></span> <small>{{ message.createdAt | date:"MM/dd/yyyy 'at' h:mma" }}</small></dt>
          <dd><div class="well" style="white-space: pre-wrap; padding: 9px;">{{ message.text }}</div></dd>
        </dl>
      </div>
</div>
